# dependencies
node_modules/

# environment files
.env

# logs
*.log
npm-debug.log*

# build files
dist/
build/

# editor / system files
.vscode/
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
tfplan
crash.log
crash.*.log

# Keys
*.pem
*.key