aws_region      = "ap-south-1"
project_name    = "taskops"
cluster_version = "1.35"

node_instance_types = ["t3.small"]

node_min_size     = 1
node_max_size     = 3
node_desired_size = 2

# Recommended EKS setup
node_subnet_type = "private"

# Recommended: use kubectl, not SSH
enable_node_ssh       = false
existing_key_pair_name = ""
allowed_ssh_cidr      = "YOUR_PUBLIC_IP/32"